* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font: 10pt "Open Sans",Arial;
	color: #222;
}
header {
	background: #2BA352;
	color: #fff;
	text-align: center;
	z-index: 100;
	overflow: hidden;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.15);
}
h1,h2 {
	font-family: "Roboto Slab";
}
h1 {
	font-size: 24pt;
}
header h1 small {
	font-size: 16pt;
	font-weight: 400;
	color: #C2EE91;
}
.container {
	position: relative;
	height: 100%;
	margin-top: -86px;
	padding-top: 86px;
}

/* course list sidebar */

.sidebar {
	/*position: absolute;
	top: 0;
	left: 0;*/
	display: inline-block;
	float: left;
	width: 250px;
	height: 100%;
	overflow: auto;
	border-right: 1px solid #ccc;
}
.course-list {
	padding: 5px;
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
.fa-caret-right {
	margin-right: 10px;
}
.subject {
	padding: 15px 0 15px 15px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.subject:hover {
	background: #f0f0f0;
}
.courseItem {
	cursor: move;
	padding: 8px;
	margin: 5px 0;
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
}
.courseItem:hover {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: 1px dashed #ccc;
}

/* main table */

.table-container {
	//margin-left: 250px;
	display: inline-block;
	max-width: 1100px;
	padding: 50px 0 0 50px;
}
.course-table {
	width: 100%;
	border-collapse: collapse;
}
td {
	padding: 14px 18px;
	border: 1px solid #ddd;
	vertical-align: middle;
}
.col-headers {
	background: #f5f5f5;
	font-family: "Roboto Slab";
	color: #eee;
	font-weight: bold;
	background: #555;
}
.col-headers td {
	border-width: 0 1px 0 0;
	border-color: #999;
}
.years {
	width: 5%;
}
.credits {
	width: 10%;
}
.good {
	color: green;
}
.unneeded {
	color: #ddd !important;
}
.empty {
	width: 19%;
	color: #aaa;
}
.filled {
	color: #222 !important;
	font-size: 10pt;
	position: relative;
}
.dragOver {
	padding: 3px 10px;
}
.dragOver div {
	padding: 7px 10px;
	border: 1px dashed #bbb !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	font-size: 10pt;
}
.x {
	display: none;
}
.x:before {
	color: red;
}
.filled:hover .x {
	display: inline;
	position: absolute;
	top: 5px;
	right: 5px;
}

/* table responsiveness */
@media screen and (max-width: 1210px) {
	.container {
		padding: 50px 0;
	}
}